.outer-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.inner-container {
  width: 75vw;
  display: flex;
  height: 90vh;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}