.flashcard-wrapper {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card-surface {
  height: 400px;
  width: 500px;
  border:whitesmoke 1px solid;
  box-shadow: 0 0 10px 2px grey;
  background-color: hotpink;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-content {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}