.flashcard-wrapper {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card-surface {
  height: 500px;
  width: 500px;
  border:whitesmoke 1px solid;
  box-shadow: 0 0 10px 2px grey;
  background-color: #EEE;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.card-content-wrapper {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.card-content-wrapper img {
  height: 70%;
}

.card-content-wrapper p {
  font-size: 1.2em;
}