.flashcard-wrapper {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card-surface {
  height: 500px;
  width: 500px;
  border:whitesmoke 1px solid;
  box-shadow: 0 0 10px 2px grey;
  background-color: #EEE;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.card-image-above-text {
  height: 70%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.card-image-full {
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 100%
}

.card-text {
  padding: 15px;
}